.carousel-component {
    img {
        height: 90vh;
        /* Set max height to 90% of the viewport height */
        object-fit: cover;
    }

    .carousel-caption {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 5px;

        h5 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        border-radius: 10%;
    }
}
